@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}
 



/* Footer */
.footer-container {
  background-color: #000;
  color: #fff;
  padding: 3rem 7rem;
  padding-bottom: 10rem;
}

.footer-header {
  font-weight: 400;
  margin-bottom: 2rem;
}

.footer-listitem-title {
  font-weight: 400;
}

.footer-accordian {
  margin-bottom: 2rem;
  background-color: rgb(37, 36, 36);
  padding: 1rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.footer-listitem-container {
  margin-top: 1rem;
}


.footer-listitem::after {
  content: " ﹒ ";
}

.footer-listitem-header {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.created-by-text {
  text-align: center;
  color: #fff;
  font-size: large;
}

.created-by-text a {
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  font-weight: bold;
}

@media (max-width: 680px) {
  .footer-container {
      padding: 1rem 4rem 1rem;
  }

  .footer-header {
      font-size: 1.2rem;
  }

  .footer-listitem-header {
      font-size: 0.7rem;
  }
}

/* offer */
.offer-head {
  background-color: #005062;
  display: flex;
  padding: 3rem 8rem;
  align-items: center;
  justify-content: space-between;
}

.offer-head-text {
  color: #fff;
}

.offer-head-text h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.offer-head-text p {
  color: #eceaea;
  font-size: 1.5rem;
  font-weight: 100;
}

.offer-head img {
  height: 12rem;
}

.offer-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 6rem;
}


 

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text3 {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #efedea 0.89%,
    #f8990a 17.23%,
    #dfbda3 42.04%,
    #c24611 55.12%,
    #c72edb 71.54%,
    #e7035a 100%
  );
}
.textorang  {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #fff8f3 0.89%,
    #fadfc4 17.23%,
    #f9ae88 42.04%,
    #fa7655 55.12%,
    #f66541 71.54%,
    #f0651f 100%
   
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-orange-gradient {
  background: linear-gradient(
    157.81deg,
    #efeae8 -43.27%,
    #f0a37c -21.24%,
    #f0ba9d 12.19%,
    #c7735c 29.82%,
    #e58758 51.94%,
    #ef5411 90.29%
  );
}

.bg-yellow-gradient {
  background: linear-gradient(
    157.81deg,
    #f9f8f6 -43.27%,
    #fced99 -21.24%,
    #f4f976 12.19%,
    #e3ea6b 29.82%,
    #f4dd0d 51.94%,
    #d4a81a 99.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #f116ed 100%);
  filter: blur(400px);
}

.orange__gradient {
  background: linear-gradient(90deg, #dc9353 0%, #dc6b02 100%);
  filter: blur(400px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}


.images{
  
  display: grid;
  grid-template-columns: 2;
  object-fit: cover;

  
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pink {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #f41cde 100%);
  filter: blur(123px);
}

.yellow {
  background: linear-gradient(100deg, rgba(188, 165, 255, 0) 0%, #dfd511 100%);
  filter: blur(203px);
}

.orange{
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #e15509 100%);
  filter: blur(193px);
}






/* "https://img.freepik.com/free-photo/top-view-vegetable-soup-with-meat-inside-plate-grey_140725-36040.jpg?w=1060&t=st=1677590770~exp=1677591370~hmac=2d0f6975fec776387f047346427e151981830809ba0b14abf09bdaf78e7d23ee" */